.header-section{
    background-image: url(../image/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #00000099;
    background-blend-mode: color;
}
.container{}

.container {}

.container {}
.header-content{
    text-align: center;
    padding-top: 60px;
}
.header-content h1{
    font-size: 50px;
    color: #fff;
    width: 65%;
    margin: auto;
}
.header-content p{
    font-size: 20px;
    padding: 25px 100px;
}
.header-content a{
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
    background: #663929;
    padding: 15px 25px;
    border-radius: 30px;
    transition-duration: .3s;
}
.header-content a:hover{
    background: transparent;
    border: 1px solid #ffe000;
}
.button{margin-top: 70px;}

.content-section{
    margin: 40px 0;
}
.flex{}
.main-content{
    flex-basis: 25%;
    max-width: 25%;
    padding: 0px 20px 0 0;
    margin: 40px 0px;
    text-align: center;
}
.icon{
    font-size: 30px;
	color: #ed2fdd;
	color: -moz-linear-gradient(top,  #ed2fdd 0%, #b223ba 50%, #6e6cc9 100%);
	color: -webkit-linear-gradient(top,  #ed2fdd 0%,#b223ba 50%,#6e6cc9 100%);
	color: linear-gradient(to bottom,  #ed2fdd 0%,#b223ba 50%,#6e6cc9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed2fdd', endColorstr='#6e6cc9',GradientType=0 );
}
.content{}
.content h3{
    font-size: 20px;
    margin: 10px 0px;
    color: #000;
}
.content p{
    color: #333;
}

.banner-section{background: #eee;}
.banner-image{
    display: flex;
    align-items: center;
}
.banner-image img{}
.banner-content{
    text-align: center;
    padding: 45px;
    margin-left: 20px;
}
.banner-content h2{
    font-size: 35px;
    color: #000;
    font-weight: 100;
    margin-bottom: 10px;
}
.banner-content p{
    line-height: 1.4;
    color: #333;
    margin-bottom: 30px;
}
.banner-content a{
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid transparent;
    background: #fb8f4c;
    padding: 15px 25px;
    border-radius: 30px;
    transition-duration: .3s;
}
.banner-content a:hover{
    background: transparent;
    border: 1px solid #ffe000;
    color: #000;
}

.display-section{}
.display-heading{
    text-align: center;
    margin: 50px 0;
}
.display-heading h1{
    font-size: 40px;
    color: #000;
}
.pro-display{
    flex-basis: 25%;
    max-width: 25%;
    padding: 20px 15px;
}
.pro-display img{
    width: 100%;
}
.pro-display h3{
    margin: 5px 0px;
    color: #000;
}
.pro-display p{
    color: #000;
}

.footer-section{
    background: #000000;
}
.col1{
    flex-basis: 40%;
    max-width: 40%;
}
.col1 h2{
    font-size: 16px;
    color: #fff;
    margin: 25px 0;
}
ul.col1-list{}
ul.col1-list li{}
ul.col1-list li a{
    color: #999;
    transition-duration: .3s;
}
ul.col1-list li a:hover{
    color: #fff;
}

.col2{
    flex-basis: 30%;
    max-width: 30%;
}
.col2 h2{
    font-size: 16px;
    color: #fff;
    margin: 25px 0;
}
ul.col2-list{}
ul.col2-list li{}
ul.col2-list li a{
    color: #999;
    transition-duration: .3s;
}
ul.col2-list li a:hover{
    color: #fff;
}

.col3{
    flex-basis: 30%;
    max-width: 30%;
}
.col3 h2{
    font-size: 16px;
    color: #fff;
    margin: 25px 0;
}
.social-icon  li{
    padding-right: 25px;
}
.social-icon a{
    color: #999;
    transition-duration: .3s;
}
.social-icon a:hover{
    color: #fff;
}

.payment{
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -ms-center;
    text-align: -o-center;
    margin-top: 30px;
}
.payment img{
	width: 30%;
}